*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.row:before, .row:after{
	content: "";
	display: table;
}

.row:after{
	clear: both;
}

[class*="col-"]{
	min-width: 7px;
	float: left;
	padding: 12px;
}

.col-1{
	/*(1/12)*100 */
	width: 8.333333%;
}

.col-2{
	/*(2/12)*100 */
	width: 16.666667%;
}

.col-3{
	/*(3/12)*100 */
	width: 25%;
}

.col-4{
	/*(4/12)*100 */
	width: 33.333333%;
}

.col-5{
	/*(5/12)*100 */
	width: 41.666667%;
}

.col-6{
	/*(6/12)*100 */
	width: 50%;
}

.col-7{
	/*(7/12)*100 */
	width: 58.333333%;
}

.col-8{
	/*(8/12)*100 */
	width: 66.666666%;
}

.col-9{
	/*(9/12)*100 */
	width: 75%;
}

.col-10{
	/*(10/12)*100 */
	width: 83.333333%;
}

.col-11{
	/*(11/12)*100 */
	width: 91.666667%;
}

.col-12{
	/*(12/12)*100 */
	width: 100%;
}

.img-responsive{
	max-width: 100%;
	width: 100%;
}

/*estilos*/
header{
	text-align: center;
}

.caja{
	background-color: silver;
}

.back{
	background-image: url(http://lorempixel.com/output/nature-q-c-1024-600-4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
}